/* 网页顶部导航栏 */
.topbar{
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background-color: #333;
}
.topbar .topbar-center{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.topbar a{
    display: inline-block;
    text-decoration: none;
    color:#b0b0b0 ;
}
.topbar .top-list li{
    float: left;
}
.topbar .top-list li>span{
    padding: 0 7px;
    color: rgb(66, 66, 66) ;
}
.topbar a:hover{
    color: #fff;
}
.topbar .app-download{
    position: relative;
}
.topbar .app-download .app-img img{
    width: 90px;
    height: 90px;
    margin:17px;
    margin-bottom: -12px;
    z-index: 999;
}
.topbar .app-download .app-img{
    /* display: none; */
    height: 0px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    position: absolute;
    width: 124px;
    /* height: 148px; */
    font-size: 14px;
    color: #333;
    left:  -42px ;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    transition: height 0.3s;
    z-index: 999;
}
.topbar .app-download::after{
    display: none;
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    left: 15px;
    top: 32px;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
}
.topbar .app-download:hover .app-img{
    height: 148px;

}
.topbar .app-download:hover::after{
    display: block;   
}
.topbar .user-info li{
   float: right;
}
.topbar .user-info span{
    margin: 0 7px;
    color: rgb(66, 66, 66)
}  
.topbar .shopping{
    float: right;
    position: relative;
    margin-left:25px;
    background-color: #424242;
}
.topbar .shopping div:not(.shopping-box){
    width: 120px;
    height: 40px;
}
.topbar .shopping a{
    position: absolute;
     display: block;
     padding: 0 18px;
     border-bottom: 5px solid #fff;
     z-index: 999;
}
.topbar .shopping-box{
    position: absolute;
    right: 0;
    width: 316px;
    height: 0px;
    overflow: hidden;
    font-size: 12px;
    color: #424242;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: height 0.4s;
}
.topbar .shopping:hover a,
.topbar .shopping:hover{
    color:#ff6700;
    background-color: #fff;
}
.topbar .shopping:hover .shopping-box{
    height: 100px;
}

/* 网页头部 */
.header{
    height: 100px;
    position: relative;
}
.header .header-center{
    height: 100px;  
}
.header .logo{
    overflow: hidden;
    float: left;
    position: relative;
    width: 55px;
    height: 55px;
    margin: 22.5px 0;
}
.logo .mi{
    position: absolute;
    width: 49px;
    height: 49px;
    padding: 3px ;
    left:0;
    background-color: #ff6700;
    transition: left 0.2s;
}
.logo .house{
    position: absolute;
    width: 49px;
    height: 49px;
    padding: 3px ;
    left: -55px;
    background-color: #ff6700;
    transition: left 0.2s;
}
.header .logo:hover .house{
    left: 0;
}
.header .logo:hover .mi{
    left: 55px;
}
.header .header-nav{
    float: left;
    width: 790px;
    height: 100px;
    margin-left: 7px;
    padding-left: 60px;
    line-height: 100px;
}
.header .nav-ul li{
    float: left;
}
.header .nav-ul .all-goods{
    visibility: hidden;
}
.header .nav-ul a{
    display: block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
    color:#333;
}
.header .nav-ul a:hover{
    color: #ff6700;
}
.header .goods-info{
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 0px;
    top: 100px;
    left: 0;
    text-align: center;
    line-height: 228px;
    font-size: 25px;
    transition: height 0.5s;
}
.header .nav-ul .show-goods:hover ~.goods-info,
.header .goods-info:hover {
    height: 228px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}
.header .search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    background-color: #bfa;
}
.header .text{
    float: left;
    box-sizing: border-box;
    width: 244px;
    height: 50px;
    border: 1px solid rgb(224, 224, 224);
}
.header .button{
    box-sizing: border-box;
    width: 52px;
    height: 50px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    background-color: #fff;
}
.header .button i{
    font-size: 16px;
    color: #616161;
}
div.header .text:focus,
div.header .text:focus+.button{
    border-color:#ff6700;
}
.header .button:hover,
.header .button:hover i{
    background-color: #ff6700;
    color: #fff;
}